        <!-- JS -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wNumb.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.morelines.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>

</html>