{% include 'admin/header_common.html' %}


	{% include 'admin/header.html' %}


	{% include 'admin/sidebar.html' %}


	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						{% if movie %}
							<h2>Edit movie - <b>{{ movie.title }}</b></h2>
						{% else %}
							<h2>Add new movie</h2>
						{% endif %}					
					</div>
				</div>
				<!-- end main title -->

				<!-- form -->
				<div class="col-12">
					<form action="{{ url_for('add_movie') }}" method="post" class="form">
						<div class="row">
							<div class="col-12 col-md-5 form__cover">
								<div class="row">
									<div class="col-12 col-sm-6 col-md-12">
										<div class="form__img">
											<label for="form__img-upload">Upload cover (270 x 400)</label>
											<input id="form__img-upload" name="cover_image" type="file" accept=".png, .jpg, .jpeg">
											<img id="form__img" src="#" alt=" ">
										</div>
									</div>
								</div>
							</div>
					
							<div class="col-12 col-md-7 form__content">
								<div class="row">
									<div class="col-12">
										<input type="text" class="form__input" placeholder="Title" name="title" value="{{ movie.title if movie is defined else '' }}">
									</div>
									
									<div class="col-12">
										<textarea id="text" name="description" class="form__textarea" {% if not movie.description %}placeholder="Description"{% endif %}>
											{{ movie.description if movie.description else '' }}
										</textarea>
									</div>																									
									
									<div class="col-12 col-sm-6 col-lg-3">
										<input type="text" class="form__input" placeholder="Release year" name="release_year" value="{{ movie.release_year if movie is defined else '' }}">
									</div>
									
									<div class="col-12 col-sm-6 col-lg-3">
										<input type="text" class="form__input" placeholder="Running time in minutes" name="duration" value="{{ movie.duration if movie is defined else '' }}">
									</div>
									
									<div class="col-12 col-sm-6 col-lg-3">
										<select class="js-example-basic-single" id="quality" name="quality">
											<option></option>
											<option value="FullHD" {% if movie and movie.quality == 'FullHD' %} selected {% endif %}>FullHD</option>
											<option value="HD" {% if movie and movie.quality == 'HD' %} selected {% endif %}>HD</option>
										</select>
									</div>
									
									<div class="col-12 col-sm-6 col-lg-3">
										<input type="text" class="form__input" placeholder="Age" name="age" value="{{ movie.age if movie is defined else '' }}">
									</div>
									
									<div class="col-12 col-lg-6">
										<select class="js-example-basic-multiple" id="country" name="country" multiple="multiple">
											<!-- Options pour les pays -->
											{% for country in countries %}
												<option value="{{ country['name'] }}" {% if movie and country['name'] in movie.country %} selected {% endif %}>{{ country['name'] }}</option>
											{% endfor %}
										</select>
									</div>									
					
									<div class="col-12 col-lg-6">
										<select class="js-example-basic-multiple" id="genre" name="genre" multiple="multiple">
											<!-- Options pour les genres -->
											<option value="Action" {% if movie and 'Action' in movie.genre %} selected {% endif %}>Action</option>
											<option value="Animation" {% if movie and 'Animation' in movie.genre %} selected {% endif %}>Animation</option>
											<option value="Comedy" {% if movie and 'Comedy' in movie.genre %} selected {% endif %}>Comedy</option>
											<option value="Crime" {% if movie and 'Crime' in movie.genre %} selected {% endif %}>Crime</option>
											<option value="Drama" {% if movie and 'Drama' in movie.genre %} selected {% endif %}>Drama</option>
											<option value="Fantasy" {% if movie and 'Fantasy' in movie.genre %} selected {% endif %}>Fantasy</option>
											<option value="Historical" {% if movie and 'Historical' in movie.genre %} selected {% endif %}>Historical</option>
											<option value="Horror" {% if movie and 'Horror' in movie.genre %} selected {% endif %}>Horror</option>
											<option value="Romance" {% if movie and 'Romance' in movie.genre %} selected {% endif %}>Romance</option>
											<option value="Science-fiction" {% if movie and 'Science-fiction' in movie.genre %} selected {% endif %}>Science-fiction</option>
											<option value="Thriller" {% if movie and 'Thriller' in movie.genre %} selected {% endif %}>Thriller</option>
											<option value="Western" {% if movie and 'Western' in movie.genre %} selected {% endif %}>Western</option>
											<option value="Other" {% if movie and 'Other' in movie.genre %} selected {% endif %}>Other</option>
										</select>
									</div>																	
					
									<div class="col-12 col-lg-6">
										<select class="js-example-basic-multiple" id="category" name="category">
											<!-- Options pour les catégories -->
											<option {% if not movie or not movie.category %} selected {% endif %}></option>
											<option value="Movie" {% if movie and movie.category == "Movie" %} selected {% endif %}>Movie</option>
											<option value="TV Series" {% if movie and movie.category == "TV Series" %} selected {% endif %}>TV Series</option>
										</select>
									</div>																	

									<div class="col-12 col-sm-6 col-lg-3">
										<input type="text" class="form__input" placeholder="Rating" name="rating" value="{{ movie.rating if movie is defined else '' }}">
									</div>
								</div>
							</div>
					
							<div class="col-12">
								<div class="row">
									<div class="col-12">
										 <!-- Ajoutez un champ pour inclure l'ID du film, s'il existe -->
    									<input type="hidden" name="movie_id" value="{{ movie.id }}">
										<button type="submit" class="form__btn">publish</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>
	<!-- end main content -->

{% include 'admin/footer_common.html' %}