
	<!-- JS -->
	<!-- Utilisez url_for pour générer les URLs des fichiers JavaScript -->
	<script src="{{ url_for('static', filename='admin/js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/select2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin/js/admin.js') }}"></script>

</body>

</html>